.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

    .intro .greeting {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    .intro .description {
        font-size: 1.3em;
        font-weight:500;
    }

.intro .word-container {
    display: flex;
    flex-direction: column;
}
    .word-container .loader {
        display: flex;
        justify-content: center;
        align-items:flex-start;
        max-height: 1em;
        width: 100%;
        overflow: hidden;
    }

        .loader .preposition {
            margin-top: 0.04em;
        }

        .loader .words {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

            .words .word {
                display: flex;
                color: #fff;
                height: 1em;
                margin: 0 0.15em;
                text-shadow: 2px 2px 8px #ffffff;
                align-items: flex-start;
                align-content: center;
                font-variant: small-caps;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #fff;
                animation: Loader 6s infinite;
            }

            
@keyframes Loader {
    0% {
      transform: translateY(0);
    }
    16.66% {
      transform: translateY(-100%);
    }
    33.33% {
      transform: translateY(-200%);
    }
    50% {
      transform: translateY(-300%);
    }
    66.66% {
      transform: translateY(-400%);
    }
    83.33% {
      transform: translateY(-500%);
    }
    100% {
      transform: translateY(-600%);
    }
  }
              
.summary {
    flex: 2;
}

.options {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-right: 25px;
}

.options .button {
    display: flex;
    color: #000;
    background-color: #fff;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0.6em 1.3em;
    border-radius: 30px;
    cursor: pointer;
    border: 3px solid #000000;
    box-shadow: 0.3em 0.3em 0 #000000;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 20px;
    transition: all 0.25s ease;
    width: 8em;
}

    .options .button:hover {
        color:var(--primary-color);
        background-color: #fff;
        box-shadow: 0.2em 0.2em #000;
    }

    .options .button:hover > .button-icon {
        color:var(--primary-color);
    }

    .options .button:active {
        color: #000;
        background-color: var(--primary-color);
        box-shadow: 0.3em 0.3em #000;
        border: 3px solid #000;
    }

    .options .button-icon {
        display: flex;
        justify-content: flex-end;
        padding-left: 5px;
        font-size: .8em;;
        border-radius: 100%;
        align-items: center;
    }
