.greeting {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: var(--primary-color);
}

.greeting-head {
    color: #fff;
    font-size: 2em;
    font-family: var(--font-raleway);
    padding: 1em 0;
    line-height: 1.2;
    text-align: center;
    text-shadow: var(--text-shadow);
}

.greeting-container {
    text-align: center;
    padding: 0 4em;
}

.opening {
    display: flex;
    align-items: center;
    justify-content: center;
}

.opening-image {
    width: 250px;
    height: auto;
    margin-right: 3em;
    box-shadow: var(--box-shadow-one);
    border: 3px solid var(--secondary-color);
}

.opening-sentence {
    font-size: 1.3em;
    font-weight:500;
    line-height: 1.5;
    color: var(--secondary-color);
    text-align: left;
    padding-bottom: 2em ;
}

.technical-skills-container, .web-dev {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.technical-skills-container .heading {
    color: var(--primary-color);
    font-size: 3em;
    font-weight: 600;
    font-family: var(--font-raleway);
    text-shadow: var(--text-shadow-dark-two);
    text-align: right;
    align-items: center;
    padding: 30px;
    padding-left: 0;
    justify-content: center;
}


.code {
    width: 15em;
    height: 17em;
    margin: 3em;
    margin-top: 1em;
    background-color: #24233b;
    border: 3px solid #000;
    border-radius: 20px;
    box-shadow: var(--box-shadow-code-dark);
    transition: 0.5s;
}

.window {
    width: 100%;
    background-color: var(--tertiary-color);
    border-radius: 20px 20px 0 0;
}

.code-header {
    display: flex;
    height: 1em;
    width: 100%;
    align-items: center;
    font-size: 0.8em;
    padding: 10px 20px;
}

    .code-header .title {
        color: #fff;
        justify-content: center;
    }

    .code-header .action-buttons {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        text-align: center;
        align-items: center;
        color: #fff;
        font-size: 0.7em;
        width: 10px;
        height: 10px;
        padding: 20px;
        border-radius: 5px;
    }

        .action-buttons span {
            margin: 1em
        }
    
.code-area {
    color: rgb(214, 214, 252);
    font-size: 0.5em;
    margin: 10px;
    height: 350px;
    overflow: scroll;
}


.skill-category .marquee-text {
    overflow: clip;
    height: 5em;
}
  
    .marquee-text .marquee-text-track {
        display: flex;
        padding-left: 3rem;
        gap: 3rem;
        width: max-content;
        animation: marquee-move-text var(--speed, 10s) linear infinite var(
            --direction,
            forwards
        );
    }
    
    .marquee-text p {
        color: #fff;
        font-size: 1em;
        font-family: var(--font-raleway);
        border: 3px solid #fff;
        box-shadow: var(--box-shadow-one);
        background-color: var(--primary-color);
        border-radius: 1em;
        padding: 1rem 2.5rem;
    }
  
    @keyframes marquee-move-text {
        to {
        transform: translateX(-50%);
        }
    }